@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main styling */

body {
  font-family: 'Raleway', sans-serif;
}

/* Lists for links */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 5px;
}

/* Nav Links */

#navbar {
  margin-top: 25px;
  overflow: hidden;
}

.left {
  float: left;
  margin-left: 30px;
}

.right {
  float: right;
  margin-right: 20px;
}

/* Sign-In Button */

#sign-in {
  background-color: #4285f4;
  color: #fff;
  padding: 8px;
}

.center {
  display: block;
  margin: auto;
}

/* Image and Search */

.search {
  margin-top: 100px;
}
.center-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* height: 100px; */
}

/* Search bar */

.center-search {
  margin-top: 5px;
  text-align: center;
}

#search-bar {
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  width: 500px;
  height: 40px;
  outline: none;
}

#search-bar:hover {
  -webkit-box-shadow: 0 0 5px #dfe1e5;
}

#search-bar:active {
  border: 0;
}
